# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [42]:
import pandas as pd
import numpy as np

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

s = pd.Series(data=dados)
s

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [43]:

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
indices = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

s = pd.Series(data=dados, index = indices)
s

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [44]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

sTemp = pd.Series(data=dic_temperaturas)
sTemp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [45]:
arr = np.random.normal(100, 10, (20,3))

pd.DataFrame(arr)

             0           1           2
0   110.368659   88.851628   97.330998
1    98.046517   96.647438   98.364195
2   118.865609   91.677529   98.295740
3    96.722478   97.319069   98.640174
4   103.491648   96.050002   94.360893
5   105.689709  100.852079  104.192037
6    84.988717   87.042679  106.237626
7   100.055038   91.989428  102.089661
8    96.439270   95.387358   96.894917
9    96.688860   95.738663  100.676637
10  101.194019   82.863033  108.897134
11  105.212311   94.073749  114.342143
12  100.067188  109.285996  113.852046
13   88.621191   93.593462  106.818501
14  116.417656   73.927827   98.149168
15  112.153311   91.970190   95.980954
16   98.811933  100.635008   95.202877
17  106.327180  102.812502   95.746422
18   96.595700  105.324008  115.510996
19  103.431982  101.889971   99.710826

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [46]:
colunas = ['x1','x2','x3']
arr2 = np.random.normal(5, 1,  (20,3))

pd.DataFrame(arr2,columns=colunas)

          x1        x2        x3
0   3.442391  5.463616  5.243839
1   3.609233  4.767266  6.830210
2   5.201387  5.716622  4.487260
3   5.539501  4.985218  4.452363
4   4.548687  5.246587  5.870735
5   2.855033  5.280285  4.691623
6   5.128572  5.349672  3.968975
7   6.606124  4.779113  4.995455
8   6.199399  5.245203  3.628308
9   6.895795  3.953940  4.744632
10  3.740219  4.514094  5.531962
11  6.139158  4.776291  3.745915
12  5.036372  3.283926  5.009685
13  5.478010  5.195093  5.251108
14  4.003033  2.292919  3.828919
15  4.928295  5.720495  2.970651
16  6.041171  4.552309  3.865425
17  4.751918  6.660162  3.366512
18  5.213033  5.493222  3.958124
19  4.820002  4.799549  4.550346

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [47]:
colunas = ['x1','x2','x3']
arr2 = np.random.normal(5, 1,  (20,3))

dataFrame = pd.DataFrame(arr2,columns=colunas)
dataFrame['media'] = arr2.mean(1)
dataFrame

          x1        x2        x3     media
0   4.673484  6.932082  4.216112  5.273893
1   3.657971  3.868973  5.204915  4.243953
2   4.642332  3.757338  5.374841  4.591504
3   2.996246  5.785274  3.623014  4.134845
4   3.754022  3.187444  5.111375  4.017614
5   4.695742  5.708600  3.877173  4.760505
6   4.583141  5.714830  4.533297  4.943756
7   3.236318  3.959172  5.355112  4.183534
8   5.674134  4.872882  4.761233  5.102750
9   4.610966  3.556147  4.253033  4.140049
10  3.568211  5.753125  7.635939  5.652425
11  3.271010  3.993180  5.711555  4.325248
12  5.449372  7.002578  5.614580  6.022177
13  4.135561  4.639440  5.003341  4.592781
14  6.064182  4.579204  5.800482  5.481289
15  4.770334  5.682338  4.741796  5.064823
16  2.742367  5.115218  4.979973  4.279186
17  6.622176  6.588236  2.032407  5.080940
18  5.767410  4.801633  5.640725  5.403256
19  5.549902  5.437321  5.042226  5.343150

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [48]:
dataFrame['log_med'] = np.log2(dataFrame['media'] )
dataFrame

          x1        x2        x3     media   log_med
0   4.673484  6.932082  4.216112  5.273893  2.398868
1   3.657971  3.868973  5.204915  4.243953  2.085409
2   4.642332  3.757338  5.374841  4.591504  2.198967
3   2.996246  5.785274  3.623014  4.134845  2.047833
4   3.754022  3.187444  5.111375  4.017614  2.006339
5   4.695742  5.708600  3.877173  4.760505  2.251115
6   4.583141  5.714830  4.533297  4.943756  2.305608
7   3.236318  3.959172  5.355112  4.183534  2.064722
8   5.674134  4.872882  4.761233  5.102750  2.351275
9   4.610966  3.556147  4.253033  4.140049  2.049648
10  3.568211  5.753125  7.635939  5.652425  2.498870
11  3.271010  3.993180  5.711555  4.325248  2.112783
12  5.449372  7.002578  5.614580  6.022177  2.590285
13  4.135561  4.639440  5.003341  4.592781  2.199368
14  6.064182  4.579204  5.800482  5.481289  2.454515
15  4.770334  5.682338  4.741796  5.064823  2.340512
16  2.742367  5.115218  4.979973  4.279186  2.097336
17  6.622176  6.588236  2.032407  5.080940  2.345095
18  5.767410  4.801633  5.640725  5.403256  2.433829
19  5.549902  5.437321  5.042226  5.343150  2.417690